/Stelarium/.vs
/Stelarium/stelarium/.vs
/AstroCalc/AstroCalcTests/obj/Debug/*.pdb
/AstroCalc/AstroCalcTests/bin/
/AstroCalc/AstroCalcTests/obj/
/AstroCalc/.vs/AstroCalc/v16/
/AstroCalc/AstroCalc/obj/Debug/
/AstroCalc/AstroCalc/obj/
/AstroCalc/AstroCalc/bin/
/AstroCalc/AstroCalc/obj/Debug
/AstroCalc/ArduinoSerialLink/obj/Debug
/AstroCalc/ArduinoSerialLink/bin/Debug
/AstroCalc/WebCalc/bin
/AstroCalc/cAstroCalc/bin/Debug
/AstroCalc/cAstroCalc/obj/Debug
/AstroCalc/WebCalc/obj/Debug
